<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/indexStyle.css}" rel="stylesheet" href="../static/css/indexStyle.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
    <!-- <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" /> -->
    <script th:src="@{/js/jquery-3.4.1.js}" src="../static/js/jquery-3.4.1.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>

    <title>Hola mundo</title>
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light" style="background-color: #043174;">
        <div class="row">
            <img src="../static/icons/insurance.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            <div class="navbar-text" >
                <h4 style="color: white">Menu Principal</h4>
            </div>
        </div>
    </nav>

    <!-- Grid row -->
    <div class="row ml-auto mr-auto ">

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-lg btn-block btn-menu-verdeAgua" href="#" role="button">Nueva Poliza</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-lg btn-block btn-menu-amarillo" href="#" role="button">Generar informes de resultados mensuales</a>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row ml-auto mr-auto">

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-menu-celeste btn-lg btn-block" href="#" role="button">Consultar Poliza</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-menu-celesteOscuro btn-lg btn-block" href="#" role="button">Agregar Cliente</a>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row ml-auto mr-auto">

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-menu-amarilloLight btn-lg btn-block" href="#" role="button">Nueva propuesta de renovacion</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-menu-verdeAgua btn-lg btn-block" href="#" role="button">Consultar Cliente</a>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row ml-auto mr-auto">

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-menu-celesteOscuro btn-lg btn-block" href="#" role="button">Registrar pago</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="btn btn-menu-amarillo btn-lg btn-block" href="#" role="button">Actualizar factores de premios</a>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <div class="row ml-auto mr-auto">

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
            <div class="mb-3 mx-auto"></div>
            <a class="col-md-2 btn btn-menu-celeste btn-lg btn-block main-menu__item" href="#" role="button">Generar listado de propuesta de renovacion
                <img src="../static/icons/printer.svg" width="60" height="58" class="d-inline-block align-top" alt="">

            </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</body>
</html>